ion-header {
  height: 60px;
  display: flex !important;
}
ion-content {
  --background: #f5f6f8;
}
// background: #f5f6f8;
.header-md:after {
  background-image: none !important;
}
.itemIonic {
  border: solid 1px;
}
// #6b7c93 !important
