<ion-header>
  <div class="headTool">
    <div class="centrarArrowHeader divImgHeader horizontalCenter">
      <img style="width: 100%; margin-left: 25%;"
        src="https://www.contpaqi.com/hs-fs/hubfs/Logos/logo-contpaqi.png?width=199&name=logo-contpaqi.png">
    </div>
    <div class="centrarArrowHeader" style="width: 100%; height: 100%">
      <p class="textHeader">Registro</p>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="register">
      <div class="container-register">
        <!-- <ion-item>
          <ion-label position="floating">Control</ion-label>
          <ion-input formControlName="oneData" type="text"></ion-input>
        </ion-item> -->
        <div class="contentInput">
          <input formControlName="oneData" placeholder="Escribe..." class="inputGlobal">
        </div>
        <div class="contentInput">
          <input formControlName="twoData" placeholder="Escribe..." class="inputGlobal">
        </div>
      </div>
    </form>
    <div class="horizontalCenter">
      <ion-button shape="round" class="blueButton centerImg" (click)="saveData()">Guardar</ion-button>
    </div>
  </div>
</ion-content>