<ion-header>
  <div class="headTool">
    <div class="centrarArrowHeader divImgHeader horizontalCenter">
      <img style="width: 100%; margin-left: 25%;"
        src="https://www.contpaqi.com/hs-fs/hubfs/Logos/logo-contpaqi.png?width=199&name=logo-contpaqi.png">
    </div>
    <div class="centrarArrowHeader" style="width: 100%; height: 100%">
      <!-- <p class="textHeader">Registro</p> -->
    </div>
  </div>
</ion-header>

<ion-content></ion-content>