/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.headTool {
  width: 100% !important;
  margin: 0 0 0 0 !important;
  display: flex;
  // background-color: #045db5;
}
.centrarArrowHeader {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}
.divImgHeader {
  width: 20%;
  height: 100%;
  position: absolute;
}
.backRegister {
  position: absolute;
  top: 3px;
  left: 5%;
  height: 8%;
  width: 18%;
}
.textHeader {
  width: 100%;
  text-align: center;
  font-size: 100%;
  color: #045db5;
}
.contentInput {
  width: 100%;
  height: 35px;
  margin-top: 13px;
}
.inputGlobal {
  width: 100%;
  height: 100%;
  border: solid 1px #dcdcdc;
  border-radius: 12px;
  padding-left: 5% !important;
}
.centerImg {
  display: block;
  margin: auto;
}
.container-register {
  border-radius: 5px;
  border: solid 1px #f2f2d2;
}
.blueButton {
  margin-top: 8%;
  height: 35px;
  text-transform: capitalize;
  --background: #045db5;
  text-align: center;
  --border-radius: 20px !important;
  margin-bottom: 10%;
  width: 80%;
}

.inputGlobal:focus {
  border: solid 1px #045db5;
  outline: none;
}
