<!-- <ion-header>
  <ion-toolbar>
    <ion-title>authentication</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="backgroundBlack centrarVertical" [ngStyle]="{'height': sizeImg}">
    <img class="horizontalCenter"
      src="https://www.contpaqi.com/hs-fs/hubfs/Logos/logo-contpaqi.png?width=199&name=logo-contpaqi.png">
  </div>
  <div class="container-principal">
    <form [formGroup]="formLogin">
      <div class="contentInput">
        <input formControlName="email" placeholder="Dirección de correo" class="inputGlobal">
      </div>
      <div class="contentInput">
        <input formControlName="password" placeholder="Contraseña" type="password" class="inputGlobal">
      </div>
    </form>
    <div class="horizontalCenter">
      <ion-button shape="round" class="blueButton centerImg" (click)="login()">Ingresar</ion-button>
    </div>
  </div>
</ion-content>