ion-content {
  --background: #f5f6f8;
}
.container-principal {
  width: 100%;
//   border: solid 1px;
  height: 100%;
  background-color: #f5f6f8;
  padding: 0% 15% 0% 15%;
}
.horizontalCenter {
  text-align: center;
  display: block;
  margin: auto;
}

.centrarVertical {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
}
